body {
justify-content: center;
font-family:cursive;
font-weight:600;
text-align:center;
background-image:linear-gradient(rgb(208, 106, 255),white);

}

header{
    padding:2px;
    background-image:linear-gradient(pink,rgb(243, 137, 243));
    margin-bottom:50px;
        
}
main{
    padding:2px;
    background-image:linear-gradient(rgb(243, 137, 243),pink);
    display:inline-block;   
}
h1{
    padding:2px;
color:white;

}
button
{
    background-color:white;
    border:dotted purple 2px;
    padding:10px; 
    border-radius:40px;
}
button:hover {
width:120px;
border:solid black 2px;
cursor:pointer;
}
.game{
    border:dotted white 10px;
    border-radius:50px;
    box-sizing:border-box;
    display:inline-block;
    padding: 40px;
    display:inline-block;
    
}
h2:nth-child(odd){
color:white;
background-color: fuchsia;
}
.afont{
    font-weight:600;
font-family:cursive;
color:fuchsia;
}